body {
    background-color: aqua;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

  /*textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }*/
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .container{
    height: 2000px;
  }

  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: rgb(245, 76, 76);
    color: white;
  }
  
  .present {
    background-color: rgb(110, 245, 121);
    color: white;
  }
  
  .future {
    background-color: rgb(100, 100, 245);
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }

.button{
  height: 35px;
  width: 150px;
  margin: 5px;
  position: left;
  background-color: tan;
  color: black;
  border-color: black;
  
}

.textbox{
  position: left;
  width: 750px;
  height: 40px;
  background-color: white;
  border-image: 3px;
  outline-style: auto;
  text-align: left;
}